@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
div {
  text-align: center;
}

body {
  background: #414040
}

h1 {
    text-align: center;
    font-size: 5em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

button {
  height: 3em;
  width: 7em;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  font-size: 2em;
}

.start {
  background: #58f74f;
}

.stop {
  background: #f74f4f;
}

.reset {
  background: #f7f54f;
}